* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
h2{
  text-align: center;
}
h3{
  text-align: center;
}

section{
  background-color: lightgray;
  position: relative;
  border: 1px solid black;
    

}
h4{
  border: 1px solid black;
  padding: .25em 2em .25em 2em ;
  margin: 0px;
  margin-bottom: 5px;

}
#chicken{
  background-color: pink;
  position: absolute;
  right: 0px;
}
#beef{
  color: white;
  background-color: red;
  position: absolute;
  top: 0px;
  right: 0px;
  float: right;
}
#sushi{
  background-color: yellow;
  position: absolute;
  right: 0px;
  float: right;
}
/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 33.33%;
    }
    h3 {
      display: none;
    }
  }
/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
    h3 {
      display: none;
    }
  }
  /********** Mobile View **********/
  @media (max-width: 767px) {
     h4{
      width: 100%;
      position: relative;
      right: 50%;
      text-align:center;
      margin-bottom: 10px;
      background-color: red;
  }
  h2{
    display:none;
  }
}


p {
  /* padding: 10px; */
  /* margin: 15px; */
  border: 1px solid black;
}
div.desc {
  /* padding: 10px; */
  height: 100px;
  padding: 5px;
  margin: 30px ;
  /* border: 1px solid black; */
  overflow: hidden;
  
}
div.desc:hover{
  overflow: auto;
}s
div #container{
  border: 1px solid green;
  position: relative;
}